{% extends "cosinnus_note/base.html" %}
{% load i18n cosinnus_tags %}
{% load static from staticfiles %}
{% load bootstrap3 %}
{% block page_title %}Note{% endblock %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/vendor/jquery-ui-autocomplete.min.css' %}">
<link rel="stylesheet" href="{% static 'css/cms.ckeditor.css' %}">
<script type="text/javascript" src="{% static 'ckeditor/ckeditor.js' %}"></script>
<script type="text/javascript" src="{% static 'js/cms.ckeditor.js' %}"></script>
<link rel="stylesheet" href="{% static 'ckeditor/skins/moono/editor.css' %}">
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li><a href="{{ object.get_absolute_url }}">{{ object.title }}</a> <span class="divider">/</span></li>
    <li class="active">{% trans "Update" %}</li>
{% endblock %}

{% block subnav_add_right %}{% endblock %}

{% block content %}
<form action="." method="post" class="form-horizontal" enctype="multipart/form-data">
    {% csrf_token %}
    <fieldset>
        {% bootstrap_form form %}
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn btn-primary">{% trans "Update" %}</button>
                <a href="{% url 'cosinnus:note:list' group=group.slug %}" class="btn">{% trans "Cancel" %}</a>
            </div>
        </div>
    </fieldset>
</form>
{% endblock %}

{% block extrafooter %}
{{ block.super }}
<script type="text/javascript" src="{% static "ckeditor/config.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor_plugins/cmsplugins/plugin.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/lang/en.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/styles.js" %}"></script>
<script type="text/javascript" src="{% static "js/vendor/jquery-ui-autocomplete.min.js" %}"></script>
<script type="text/javascript">
var availableTags = [
    {% for tag in tags %}
        "{{ tag }}",
    {% endfor %}
];
</script>
<script type="text/javascript" src="{% static "js/vendor/jquery.ui.autocomplete-tags.js" %}"></script>
{% endblock %}
